---
import type { ShopBlock } from '../data/types';
import MapLink from './MapLink.astro';
interface Props { block: ShopBlock; }
const { block } = Astro.props;
---
<section class="shops-block">
  <h3 class="shops-block__title">{block.title}</h3>
  {block.shops.map((s) => (
    <div class="shop-item">
      <span class="shop-item__name">
        {s.mapQuery && <MapLink query={s.mapQuery} label={s.name} />}
        <span>{s.name}</span>
      </span>
      {s.tag && (
        <span class={`shop-tag ${s.tagColor ? `shop-tag--${s.tagColor}` : ''}`}>{s.tag}</span>
      )}
      <span>{s.desc}</span>
    </div>
  ))}
</section>
